<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<header>
    <h1>FitHubHome</h1>
</header>
<div class="welcome-page">
    <div class="container">
        <h2>Login</h2>
        <form th:action="@{/auth/login}" th:object="${loginDto}" method="post">
            <label for="email">Email:</label>
            <input type="email" id="email" name="username">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
            <input type="submit" value="Login">
        </form>
        <p th:text="${errorMessage}" class="error-message"></p>
    </div>
</div>
<footer>
    <p>&copy; 2024 GymApp API</p>
</footer>
</body>
</html>
