<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<header>
    <h1>FitHubHome</h1>
</header>
<div class="welcome-page"> <!-- Changed the class to center the content -->
    <div class="container">
        <h2>Register</h2>
        <form th:action="@{/auth/register}" th:object="${registerUser}" method="post">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" th:field="*{email}">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" th:field="*{password}">
            <input type="submit" value="Register">
        </form>
        <p th:text="${errorMessage}" class="error-message"></p>
    </div>
</div>
<footer>
    <p>&copy; 2024 GymApp API</p>
</footer>
</body>
</html>
