<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<header>
    <h1>FitHubHome</h1>
</header>
<div class="main-content">
    <div class="top-right">
        <a th:href="@{/user/logout(sessionId=${session.sessionId})}" class="logout-link">
            <span class="logout-icon">🔑</span>
            Logout
        </a>
    </div>
    <div class="container">
        <div class="profile-section top-right-corner">
            <a th:href="@{/profile}">
                <img th:if="${base64Image != null}" th:src="'data:image/jpeg;base64,' + ${base64Image}" alt="Profile Image" class="profile-image-dashboard" />
                <img th:src="@{/images/default-profile.png}" alt="Default Profile Image" th:if="${profile.imageData == null}" class="profile-image-dashboard" />
                <span th:text="${#strings.capitalize(user.email.split('@')[0])}"></span>
            </a>
        </div>
        <h2>Welcome to GymApp</h2>
        <a th:href="@{/profile}" class="profile-link">Profile</a>
        <a th:href="@{/role}" class="role-link">Roles</a>
    </div>
</div>
<footer>
    <p>&copy; 2024 GymApp API</p>
</footer>
</body>
</html>
