<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Membership</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <script>
        // Function to initialize the current date in YYYY-MM format
        function initializeCurrentDate() {
            var now = new Date();
            var month = (now.getMonth() + 1).toString().padStart(2, '0'); // Adjust for zero index
            var year = now.getFullYear();
            return year + '-' + month;
        }

        // Function to set the min attribute for cardExpirationDate input
        function setMinDate() {
            var currentDate = initializeCurrentDate();
            document.getElementById('cardExpirationDate').setAttribute('min', currentDate);
        }

        // Call setMinDate function when the document is ready
        document.addEventListener('DOMContentLoaded', function() {
            setMinDate();
        });

    </script>
</head>
<body>
<header>
    <h1 style="color: white;">Membership Page</h1>
</header>

<div class="welcome-page">
    <div class="content role-container">
        <div class="header">
            <a class="back-link" th:href="@{/dashboard}">
                <span>&#8592;</span> Back to Dashboard
            </a>
            <h2>My Profile</h2>
        </div>

        <!-- Display this section if the membership is active -->
        <div th:if="${isMembershipActive}">
            <p>Membership status: <span style="color: green"><b>active</b></span>.
                <br>
                If you would like to change your subscription, email us at fithub@gym.com or talk to one of our employees.</p>
        </div>

        <!-- Display this form only if the membership is not active -->
        <form th:if="${!isMembershipActive}" th:action="@{/membership/submitMembership}" method="post">
            <p>Membership status: <span style="color: orange"><b>inactive</b></span>.
                <br>
               Please add your card details below and select the desired subscription</p>
            <p>Name<span style="color: red">*</span>:
                <input name="personName" type="text" pattern="[A-Za-z\s]+" placeholder="Add your full name" required>
            </p>
            <p>CardNr<span style="color: red">*</span>:
                <input name="cardNr" type="text" pattern="\d{16}" placeholder="0000111122223333" required>
            </p>
            <p>CVC<span style="color: red">*</span>:
                <input name="cvc" type="text" pattern="\d{3}" placeholder="123" required>
            </p>
            <p>Card exp date<span style="color: red">*</span>:
                <input id="cardExpirationDate" name="cardExpirationDate" type="month" placeholder="YYYY-MM" required>
            </p>

            <div class="dropdown">
                <select name="selectedMembershipId">
                    <option th:each="obj : ${objects}" th:value="${obj.id}" th:text="${obj.name + ' price: ' + obj.price + ' EUR/ Month'}">Default Option</option>
                </select>
            </div>
            <br>
            <h3>All membership types are active for 30 days since payment</h3>
            <button type="submit">Select Membership</button>
        </form>
    </div>
</div>

<div class="container">
    <h1>Membership History</h1>
    <table id="membershipTable" class="membership-table">
        <thead>
        <tr>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Membership Type</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="membership : ${membershipHistory}">
            <td th:text="${membership.startDate}"></td>
            <td th:text="${membership.endDate}"></td>
            <td th:text="${membership.membershipName}"></td>
        </tr>
        </tbody>
    </table>
</div>

<footer>
    <p>&copy; 2024 Membership API</p>
</footer>
</body>
</html>
