<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Membership</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<header>
    <h1 style="color: white;">Welcome to FitHubHome</h1>
</header>

<div class="welcome-page">
    <div class="content">
        <form th:action="@{/membership/submitMembership}"  method="post">
            <p>Test: <input th:field="${membershipDto.test}"></p>
            <div class="dropdown">
                <select name="id">
                    <option th:each="obj : ${objects}" th:value="${obj.id}" th:text="${obj.name + ' price: ' + obj.price + ' EUR/ Month'}">Default Option</option>
                </select>
            </div>
            <button type="submit">Select Membership</button>
        </form>
        <div class="action-buttons">
            <a th:href="@{/dashboard}">
                <button type="button">Back to Dashboard</button>
            </a>
        </div>
    </div>
</div>

<footer>
    <p>&copy; 2024 Membership API</p>
</footer>
</body>
</html>
