<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Membership</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<header>
    <h1 style="color: white;">Welcome to FitHubHome</h1>
</header>

<div class="welcome-page">
    <div class="content role-container" >
        <h2>Please add your card details and select the desired membership:</h2>
        <p><i>"A journey to become the best version of yourself"</i></p>
        <br>

        <form th:action="@{/membership/submitMembership}"  method="post" class="custom-input">
            <p>Name<span style="color: red">*</span>: <input name="personName" type="text" pattern="[A-Za-z\s]+" placeholder="Add your full name" required></p>
            <p>CardNr<span style="color: red">*</span>: <input name="cardNr" type="text" pattern="\d{16}" placeholder="0000111122223333" required></p>
            <p>CVC<span style="color: red">*</span>: <input name="cvc" type="text" pattern="\d{3}" placeholder="123" required></p>
            <p>Card exp date<span style="color: red">*</span>: <input name="cardExpirationDate" pattern="\d{4}-\d{2}" placeholder="YYYY-MM" required ></p>
            <br>

            <p>Desired membership <span style="color: red">*</span>: </p>
            <div class="dropdown">
                <select name="id">
                    <option th:each="obj : ${objects}" th:value="${obj.id}" th:text="${obj.name + ' price: ' + obj.price + ' EUR/ Month'}">Default Option</option>
                </select>
            </div>
            <button type="submit">Select Membership</button>
        </form>

        <br>
        <div class="action-buttons">
            <a th:href="@{/dashboard}">
                <button type="button">Back to Dashboard</button>
            </a>
        </div>
    </div>
</div>

<footer>
    <p>&copy; 2024 Membership API</p>
</footer>
</body>
</html>
