<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Membership Types</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<header>
    <h2 style="color: white;">Manage Memberships Type Page</h2>
</header>

<div class="welcome-page">
    <div class="container">
        <div class="header">
            <a class="back-link" th:href="@{/dashboard}">
                <span>&#8592;</span> Back to Dashboard
            </a>

        </div>

        <h3>Create new membership</h3>
        <!-- Flash Message Section -->
        <div th:if="${message}" class="alert alert-success flash-message" th:text="${message}"></div>

        <form th:action="@{/membership/createMembershipType}" method="post">
            <p>New membership name:
                <input name="name" type="text" required>
            </p>

            <p>New membership price:
                <input name="price" type="text" pattern="[0-9]+(\.[0-9]+)?" title="Enter a valid number" required placeholder="Ammount in EUR">
            </p>

            <button type="submit">Select Membership</button>
        </form>

        <h3>Current Membership Types</h3>

        <table class="membership-table">
            <thead>
            <tr>
                <th>Membership Name</th>
                <th>Membership Price</th>
                <th>Remove Membership</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="membership : ${membershipTypesList}">
                <td th:text="${membership.name}"></td>
                <td th:text="${membership.price}"></td>
                <td>
                    <form th:action="@{/membership/deleteMembershipType}" method="post">
                        <input type="hidden" name="_method" value="delete"/>
                        <input type="hidden" name="id" th:value="${membership.id}"/>
                        <button type="submit">Remove</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<footer>
    <p>&copy; 2024 GymApp API</p>
</footer>
</body>
</html>
