body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: #343a40;
}

header, footer {
    background-color: #343a40;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    color: white;
}

.footer {
    margin-top: auto; /* Ensure footer is pushed to the bottom */
}

.main-content {
    flex: 1; /* Take up the remaining space between header and footer */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
    color: #343a40;
    position: relative; /* Add this line */
}

.role-container {
    text-align: left; /* Align text to the left for better readability */
}

.top-right-corner {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
}

h1, h2 {
    color: #343a40;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #495057;
}

input[type="text"], input[type="email"], input[type="password"], input[type="date"], select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

button, input[type="submit"] {
    display: block;
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}

button:hover, input[type="submit"]:hover {
    background-color: #0056b3;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.nav-links {
    margin-top: 20px;
}

.nav-links a {
    margin-right: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #f1f1f1;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
}

ul li span {
    display: inline-block;
    min-width: 100px;
}

.profile-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.profile-section a {
    text-decoration: none;
    color: #007bff;
    display: flex;
    align-items: center;
}

.profile-image-dashboard {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.profile-role {
    display: block;
    margin-top: 10px;
}

.profile-section span {
    font-size: 18px;
    font-weight: bold;
    text-transform: capitalize;
}

.logout-link, .role-link, .profile-link {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s;
    margin-right: 10px;
}

.logout-link:hover, .role-link:hover, .profile-link:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    margin-top: 10px;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 10px;
}

.error-container {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
    color: #343a40;
}

.welcome-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 80px); /* Adjust to fit within the viewport minus header and footer */
    width: 100%;
    background-color: #f8f9fa;
    text-align: center;
}

.action-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.action-buttons a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
}

.action-buttons button {
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s;
    margin: 10px;
}

.action-buttons button:hover {
    background-color: #0056b3;
}

.back-link {
    color: #007bff;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 18px;
}

.back-link:hover {
    text-decoration: underline;
}

header {
    margin-bottom: 0;
}

.container img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.profile-details {
    text-align: left;
    margin-right: 20px;
}

.profile-image-section {
    text-align: center;
}

.dropdown {
    display: flex;
    justify-content: center;
    text-align: left
    margin: 20px;
    width: 100%;
}

.custom-input input[type="text"],
.custom-input input[type="number"],
.custom-input input[type="date"],
.custom-input input[type="month"],
.custom-input input[type="password"],
.custom-input input[type="email"],
.custom-input input[type="tel"],
.custom-input select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

.membership-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional shadow for Excel-like effect */
}

.membership-table,
.membership-table th,
.membership-table td {
    border: 1px solid #dee2e6;
}

.membership-table th,
.membership-table td {
    padding: 12px;
    text-align: left;
}

.membership-table th {
    cursor: pointer;
    background-color: #f8f9fa;
    font-weight: bold;
}

.membership-table th:hover {
    background-color: #e9ecef;
}

.membership-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.membership-table tr:hover {
    background-color: #e9ecef;
}
