<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Events</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css">
</head>
<body>
<header>
    <h1>FitHubHome</h1>
</header>
<div class="main-content"> <!-- Added a wrapper for the main content -->
    <div class=""> <!-- Added a custom class for role-specific styles -->
        <h2>
            <a class="btn btn-primary" th:href="@{/dashboard}">
                <span class="bi bi-arrow-left"></span> Back to Dashboard
            </a>
        </h2>
        <h3>
            <a class="btn btn-primary ml-5" th:href="@{/activity}">
                <span class="bi bi-arrow-left"></span> Back to Activities
            </a>
        </h3>

        <h2><span>You can signUp to one of the following events</span></h2>

        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th><b>Event Name</b></th>
                    <th><b>Description</b></th>
                    <th><b>Date</b></th>
                    <th><b>Start Time</b></th>
                    <th><b>End Time</b></th>
                    <th><b>Available places</b></th>
                    <th><b>SignUp to event</b></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="event : ${availableEvents}">
                    <td th:text="${event.key.eventName}"></td>
                    <td th:text="${event.key.eventDescription}"></td>
                    <td th:text="${event.key.date}"></td>
                    <td th:text="${event.key.startTime}"></td>
                    <td th:text="${event.key.endTime}"></td>
                    <td th:text="${event.key.maxParticipants}"></td>

                    <td>
                        <div th:if="${event.value} == true ">
                            <a href="#" th:href="@{'/activity/withdraw?eventId=' + ${event.key.id}}">Withdraw From
                                event</a>
                        </div>
                        <div th:if="${event.value} == false">
                            <a href="#" th:href="@{'/activity/signMeUp?eventId=' + ${event.key.id}}">Sign Me Up!</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<footer>
    <p>&copy; 2024 GymApp API</p>
</footer>
</body>
</html>
