<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Event</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<header>
    <h1>FitHubHome</h1>
</header>
<div class="main-content"> <!-- Added a wrapper for the main content -->
    <div class="container role-container"> <!-- Added a custom class for role-specific styles -->
        <h2>
            <a class="back-link" th:href="@{/activity}">
                <span>&emsp; &#8592;</span> Back to Activity
            </a>
        </h2>
        <h2><span>Create Event</span></h2>

        <form th:action="@{/activity/create-event}" th:object="${gymEventDto}" method="post">
            <fieldset>
                <legend>Create New Gym Event</legend>

                <label for="eventName">Event Name:</label>
                <input type="text" id="eventName" th:field="*{eventName}" placeholder="Event Name" required/>
                <br/>

                <label for="eventDescription">Event Description:</label>
                <textarea id="eventDescription" th:field="*{eventDescription}" style="width: 100%;"
                          placeholder="Add a small description" required></textarea>
                <br/>


                <label for="date">Date:</label>
                <input type="date" id="date" th:field="*{date}" required/>
                <br/>

                <label for="startTime">Start Time:</label>
                <input type="time" id="startTime" th:field="*{startTime}" required/>
                <br/>

                <label for="endTime">End Time:</label>
                <input type="time" id="endTime" th:field="*{endTime}" required/>
                <br/>

                <label for="maxParticipants">Max Participants:</label>
                <input type="number" id="maxParticipants" th:field="*{maxParticipants}" required min="1" step="1"/>
                <br/>

                <button type="submit">Create Event</button>

            </fieldset>
        </form>

        <br>
        <br>


        <div class="table-responsive">
            <table id="usersTable" class="table table-bordered table-striped">
                <thead class="thead-dark">
                <tr>
                    <th><b>Event Name</b></th>
                    <th><b>Description</b></th>
                    <th><b>Date</b></th>
                    <th><b>Start Time</b></th>
                    <th><b>End Time</b></th>
                    <th><b>Max Participants</b></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="event : ${events}">
                    <td th:text="${event.eventName}"></td>
                    <td th:text="${event.eventDescription}"></td>
                    <td th:text="${event.date}"></td>
                    <td th:text="${event.startTime}"></td>
                    <td th:text="${event.endTime}"></td>
                    <td th:text="${event.maxParticipants}"></td>

                </tr>
                </tbody>
            </table>
        </div>


    </div>
</div>
<footer>
    <p>&copy; 2024 GymApp API</p>
</footer>
</body>
</html>
