<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Error</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>
<body>
<div th:if="${errorMessage}" th:text="${errorMessage}" id="error-message" style="display: none;"></div>
<script>
    $(document).ready(function() {
        var errorMessage = $("#error-message").text();
        if (errorMessage) {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: errorMessage,
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = '/activity';
                }
            });
        }
    });
</script>
</body>
</html>
