<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Activity</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<header>
    <h1>FitHubHome</h1>
</header>
<div class="main-content"> <!-- Added a wrapper for the main content -->
    <div class="container role-container"> <!-- Added a custom class for role-specific styles -->
        <h2>
            <a class="back-link" th:href="@{/dashboard}">
                <span>&#8592;</span> Back to Dashboard
            </a>
        </h2>

        <a th:href="@{/activity/events-history}" class="role-link">Events-History</a>
        <a th:href="@{/activity/available-events}" class="role-link">Show Available Events</a>
        <a th:href="@{/activity/create-event-form}" class="role-link">Create new event</a>

    </div>
</div>
<footer>
    <p>&copy; 2024 GymApp API</p>
</footer>
</body>
</html>
