<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Roles</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css">
    <link rel="stylesheet" th:href="@{/css/fieldSet.css}">
</head>
<body>
<header>
    <h1>FitHubHome</h1>
</header>
<div class="">
    <div class="row">
        <div class="col-md-10 offset-md-1 form-3-box wow fadeInUp">
                <h2>
                    <a class="btn btn-primary" th:href="@{/dashboard}">
                        <span class="bi bi-arrow-left"></span> Back to Dashboard
                    </a>
                </h2>
                <h3>
                    <a class="btn btn-primary ml-5" th:href="@{/activity}">
                        <span class="bi bi-arrow-left"></span> Back to Activities
                    </a>
                </h3>
            <br>

            <form th:action="@{/activity/update-event}" th:object="${gymEventDto}" method="post">
                <fieldset class="scheduler-border form-group p-3">
                    <legend class="scheduler-border w-auto px-2">Update Gym Event</legend>

                    <input type="hidden" id="eventId" th:field="${eventToUpdate.id}" readonly/>
                    <br/>

                    <label for="eventName">Event Name:</label>
                    <input type="text" id="eventName" th:field="${eventToUpdate.eventName}"/>
                    <br/>

                    <label for="eventDescription">Event Description:</label>
                    <textarea id="eventDescription" th:field="${eventToUpdate.eventDescription}"
                              style="width: 100%;"></textarea>
                    <br/>


                    <label for=" date">Date:</label>
                    <input type="date" id="date" th:field="${eventToUpdate.date}" required/>
                    <br/>

                    <label for="startTime">Start Time:</label>
                    <input type="time" id="startTime" th:field="${eventToUpdate.startTime}" required/>
                    <br/>

                    <label for="endTime">End Time:</label>
                    <input type="time" id="endTime" th:field="${eventToUpdate.endTime}" required/>
                    <br/>

                    <!--                <label for="eventType">Event Type:</label>-->
                    <!--                <input type="text" id="eventType" th:field="*{eventType}" required/>-->
                    <!--                <br/>-->

                    <label for="maxParticipants">Max Participants:</label>
                    <input type="number" id="maxParticipants" th:field="${eventToUpdate.maxParticipants}" required
                           min="1"
                           step="1"/>
                    <br/>

                    <input type="hidden" id="organizerId" th:field="${eventToUpdate.organizerId}"/>
                    <br/>

                    <button type="submit">Update Event</button>

                </fieldset>
            </form>

        </div>
    </div>
</div>
<footer>
    <p>&copy; 2024 GymApp API</p>
</footer>
</body>
</html>
