<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<header>
    <h1 style="color: white;">Welcome to FitHubHome</h1>
</header>
<div class="welcome-page">
    <div class="content">
        <p>Please select an action:</p>
        <div class="action-buttons">
            <a th:href="@{/user/login}">
                <button>Login</button>
            </a>
            <a th:href="@{/user/register}">
                <button>Register</button>
            </a>
        </div>
    </div>
</div>
<footer>
    <p>&copy; 2024 GymApp API</p>
</footer>
</body>
</html>
