<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Roles</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<header>
    <h1>FitHubHome</h1>
</header>
<div class="main-content"> <!-- Added a wrapper for the main content -->
    <div class="container role-container"> <!-- Added a custom class for role-specific styles -->
        <h2>
            <a class="back-link" th:href="@{/dashboard}">
                <span>&#8592;</span> Back to Dashboard
            </a>
            <span>All Roles</span>
        </h2>
        <ul>
            <li th:each="userEntity : ${userEntities}">
                <a th:href="@{/role/{userId}(userId=${userEntity.id})}">
                    <span th:text="${userEntity.email.split('@')[0]} + ': ' + (${userRolesMap.get(userEntity.id) != null ? userRolesMap.get(userEntity.id) : 'No roles assigned'})"></span>
                </a>
            </li>
        </ul>
    </div>
</div>
<footer>
    <p>&copy; 2024 GymApp API</p>
</footer>
</body>
</html>
