<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Modify Roles</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<header>
    <h1>FitHubHome</h1>
</header>
<div class="main-content"> <!-- Added a wrapper for the main content -->
    <div class="container role-container"> <!-- Added a custom class for role-specific styles -->
        <h2>
            <a class="back-link" th:href="@{/role}">
                <span>&#8592;</span> Back to Roles
            </a>
            <span>Modify Roles for User: <span style="text-transform: capitalize;" th:text="${user != null ? #strings.substringBefore(user.email, '@') : 'Unknown User'}"></span></span>
        </h2>
        <ul>
            <li th:each="role : ${userRoles}">
                <span th:text="${role}"></span>
                <form th:action="@{/role/{userId}/remove-role(userId=${userId})}" method="post">
                    <input type="hidden" name="roleType" th:value="${role}" />
                    <input type="submit" value="Remove Role" th:if="${role} != 'No roles assigned.'" />
                </form>
            </li>
        </ul>
        <form th:action="@{/role/{userId}/add-role(userId=${userId})}" method="post">
            <select name="roleType">
                <option th:each="role : ${allRoles}" th:value="${role}" th:text="${role}"></option>
            </select>
            <input type="submit" value="Add Role" />
        </form>
    </div>
</div>
<footer>
    <p>&copy; 2024 GymApp API</p>
</footer>
</body>
</html>
